@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Konstantin Kiselev<br />
    (Saint-Petersburg, RUSSIA)<br />
    <abbr title="Phone">P:</abbr>
    +7(921)4220801 (Санкт-Петербург, Россия)
</address>

<address>
    <strong>Support:</strong> <a href="mailto:konstantin_kiselev@mail.com">konstantin_kiselev@mail.com</a><br />
  
</address>
