@{

    ViewData["Title"] = "MaxWell";
}
        <style>
            div {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                background-color: black;
                background-size: cover;
            }
            body {
                background-color: black;
            }

        </style>
        <br/>
        <br/>
        <br/>
        <div margin-top="100" no-repeat center center transparent;>
            <image src="/images/logo.png"></image>
        </div>
   
